target/
.project
.settings/
.classpath
*.log
*.iml
.idea/
*.factorypath
build
.mvn/extensions.xml
.profiler/
.gradle
*.bak
out
target-emf/
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
